@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #df4909;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, 0.281);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo_name {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo_name img {
    width: 150px;
    height: 150px;
}

.logo_name h1 {
    font-family: "Aclonica", serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: #df4909;
}

.navbar_ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: bold;
}